#### (Null Hypothesis) H0   Lab 1= Lab 2=Lab 3= Lab 4
#### (Altenative Hypothesis) HA  At least one of them is different

In [2]:
import pandas as pd
from scipy import stats

In [3]:
df=pd.read_csv(r"D:\DS PYTHON\Assignment\LabTAT.csv")

In [4]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
# Performing annova test on the above dataset

In [8]:
statistics,pvalue=stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

In [9]:
statistics

118.70421654401437

In [10]:
pvalue

2.1156708949992414e-57

In [11]:
# As we are determining with the 5% significance level the alpha value is 0.05

### alpha > p-value 
### 0.05> pvalue (2.1156708949992414e-57)

#### We Reject the null hypothesis

## Statement : There is difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list